<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>GoTrip</title>

<!-- Bootstrap -->
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css"/>
<script src="/js/admin.js"></script>

<style>
	th, td{
  		text-align:center;
  		font-size: 15px;
  	}
</style>

</head>
<body>
	
	<!-- Navbar -->
	<div th:replace="Shared/layout :: nav"></div>
	<div class="jumbotron" style="background-image: url(/images/trip.jpeg); background-size: 100% 800px ; width: 100%;height: 400px;margin-bottom: 70px" >	
		<div class="container">	
		<div id="rectangle" style="background-color: #1B1B1B;opacity: 0.8;border: 0px;margin-top: 220px; margin-left: auto;margin-right: auto; color: #e7e7e7;">
			<h1 class="text-center" style="font-weight:lighter;" >會員管理</h1>
			  <p class="text-center" style="font-weight:lighter;">新增、自訂會員</p>
		</div>
		</div>
	</div>
<hr/>
	
		
	<!-- 自訂行程 -->
<div class="container" >
  <div class="row">
    <div class="col-lg-9 col-md-12">
	<div class="row">  
  			<table class="table table-hover">
    			<thead align="center">
      				<tr>
        				<th>帳號</th>
        				<th>姓名</th>
        				<th>信箱</th>
        				<th>連絡電話</th>
        				<th>操作</th>
      				</tr>
    			</thead>
    			<tbody>
      				<tr th:each="member : ${members}" th:object="${member}">
      					<td th:text="*{username}"></td>
      					<td th:text="*{name}"></td>
      					<td th:text="*{email}"></td>
      					<td th:text="*{phone}"></td>
      					<td>
      						<span class="glyphicon glyphicon-edit" onclick="setModalValue(this)" data-toggle="modal" data-target="#editModal" style="color: green;font-size:18px;" role="button"></span>
      						<span class="glyphicon glyphicon-trash" onclick="deleteUser(this)" style="color: red;font-size:18px;" role="button"></span>
      					</td>
      				</tr>
    			</tbody>
  			</table>
    </div>
    </div>
		
	  <!-- 篩選範圍表格-->
    <div class="col-lg-3 col-md-6 col-md-offset-3 col-lg-offset-0">
      <div class="well">
        <h3 class="text-center"><span th:text="${curName}"></span>，您好！</h3>
		  <br/>
        <form class="form-horizontal">
		
			<ul class="list-group">
					<h4 style="text-align: center">管理者功能</h4>
				<li class="list-group-item" role="button" data-toggle="modal" data-target="#createAdminModal">新增管理員</li>
				<li class="list-group-item" role="button" onclick="location='memberList'">會員列表</li>
				<li class="list-group-item" role="button" onclick="location='adminList'">管理員列表</li>
				<li class="list-group-item" role="button" onclick="location='hotRetrieveAll'">編輯首頁景點</li>
			</ul>
			
        </form>
      </div>
		
      <hr/>
	  
  </div>
</div>

<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">會員資料編輯</h4>
        </div>
        <div class="modal-body">
        <form th:action="@{/admin/updateMemberDb}" method="post">
        	<input type="hidden" name="username" id="username"/>
            <div class="form-group">
                <label for="email">姓名:</label>
                <input type="text" class="form-control" name="name" id="name" required="required"/>
            </div>   

            <div class="form-group">
                <label for="email">信箱:</label>
                <input type="email" class="form-control" name="email" id="email" required="required"/>
            </div>

            <div class="form-group">
                <label for="email">連絡電話:</label>
                <input type="text" class="form-control" name="phone" id="phone" required="required"/>
            </div>
                <button type="submit" class="btn btn-primary">送出</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">關閉</button>
        </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
      
    </div>
  </div>
  
<div class="modal fade" id="createAdminModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">新增管理員</h4>
        </div>
        <div class="modal-body">
        <form th:action="@{/admin/createAdmin}" method="post" id="createAdminForm">
        	
        	<div class="form-group">
                <label for="email">帳號:</label>
                <input type="text" class="form-control required" name="username" required="required"/>
            </div> 
            
            <div class="form-group">
                <label for="email">密碼:</label>
                <input type="password" class="form-control" name="password" id="password" required="required"/>
            </div>
            
            <!--  <div class="form-group">
                <label for="email">再次輸入密碼:</label>
                <input type="password" class="form-control" id="password_again" name="password_again" required="required"/>
            </div>  
        	-->
            <div class="form-group">
                <label for="email">姓名:</label>
                <input type="text" class="form-control" name="name" required="required"/>
            </div>   

            <div class="form-group">
                <label for="email">信箱:</label>
                <input type="email" class="form-control" name="email" required="required"/>
            </div>

            <div class="form-group">
                <label for="email">連絡電話:</label>
                <input type="text" class="form-control" name="phone" required="required"/>
            </div>
                <button type="submit" class="btn btn-primary">新增</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">關閉</button>
        </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
      
    </div>
  </div>  

	</div>
<hr/>
	
	
	
	
<!-- information -->
<div th:replace="Shared/layout :: section"></div>	
<!-- footer -->
<div th:replace="Shared/layout :: footer"></div>
	
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/js/jquery-1.11.3.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="/js/bootstrap.js"></script>
	
</body>
</html>