<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>GoTrip</title>

<!-- Bootstrap -->

<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
	<script src="//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js"></script>
<!--  
	<script src="//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js"></script>
	-->
	<script src="//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js"></script>
	
	<link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
	<link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
	<link rel="canonical" href="https://codepen.io/Aniboaz/pen/vKOXPa?depth=everything&amp;limit=all&amp;order=popularity&amp;page=47&amp;q=material+&amp;show_forks=false" />

<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Arbutus+Slab"/>
<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<!-- 可移動div之css -->
	<link rel="stylesheet" href="css/blockCSS.css"/>
	<!--  主要版面css -->
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<!--  google api地圖 -->
	<script src="js/mapFunction.js"></script>
	
	
	<style>
		
		html, body {
			max-width: 100%;
			overflow-x: hidden;
			/* 防止畫面水平超過尺寸 */
		}
		th {
    		text-align: left;
}
		th, td {
    		border-bottom: 1px solid #ddd;
}
		
		#map {
        height: 500px;
        width: 100%;
        display: block;
      }
		
		
	</style>


	</head>
<body>
	
	<!-- Navbar -->
	<div th:replace="Shared/layout :: nav"></div>
	
	<!-- 主題圖片 -->
	<div class="jumbotron" style="background-image: url(images/trip.jpeg); background-size: 100% 800px ; width: 100%;height: 400px;margin-bottom: 70px" >
 			
		<div class="container">
	
		
		<div id="rectangle" style="background-color: #1B1B1B;opacity: 0.8;border: 0px;margin-top: 220px; margin-left: auto;margin-right: auto; color: #e7e7e7;">
			<h1 class="text-center" style="font-weight:lighter;" >景點查詢</h1>
			  <p class="text-center" style="font-weight:lighter;">關鍵字搜尋、區域查詢</p>
		</div>
    
		</div>
	</div>


	
<hr/>
	
		
	<!-- 景點搜尋 -->
<div class="container" >
	
	
  <div class="row">
    <div class="col-lg-9 col-md-12">
<div class="row">
	
	<form action="javascript:textSearch();">
      <div class="form-group">
        <input type="text" id="input" class="form-control"/>
        <input type="submit" value="搜尋" class="btn btn-default"/>
      </div>
    </form>
    <button id="positionBtn" onclick="start()" class="btn btn-primary">定位</button>
    <!--  <button id="searchBtn" onclick="positionSearch()" class="btn btn-primary">顯示景點</button>-->
    <button onclick="clearMarker()" class="btn btn-danger">清除標記</button><br/><br/>
    <form action="javascript:specialSearch();" >
    	<div class="form-group">
    		<select id="kind" onchange="this.form.submit()" class="form-control">
    			<option value="0">請選擇...</option>
    			<option value="1">景點</option>
    			<option value="2">公園</option>
    			<option value="3">夜市</option>
    			<option value="4">購物</option>
    			<option value="5">古蹟</option>
    			<option value="6">美食</option>
    		</select>
    	</div>
    </form>
    <div id="map">
    	loading map ...
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSWvAaiXtcAtlyhzMODu-VgnV4KhJaRSA&amp;libraries=places&amp;callback=start" async ="defer"></script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
     
      </div>     
      </div>
		
     
    
	  
	  
	  <!-- 行程表-->
    <div class="col-lg-3 col-md-6 col-md-offset-3 col-lg-offset-0">
      <div class="well" style="height:auto; min-height: 620px">
        <h2 class="text-center">臺北自由行</h2>
	
		  
		  
		  <div class="dd" th:action="basketUpdate">
			
		  
	 		 <ol class="kanban To-do" id="basket" style="width: 100%;position: relative;height: auto;min-height: 500px !important;">
		  		
		  <h4 style="text-align: center;padding-top:10px">第一天</h4> 
		  <hr/>
		  <!--
		  <li class="dd-item">
		  <h3 class="title dd-handle" >國家音樂廳<i class=" material-icons ">filter_none</i></h3>   
			</li>
		  -->
		
		  
			</ol>
			 
		  </div>
		  
		  <!-- important javascipt move block -->		
		<script src="js/blockFunction.js"></script>
			
		   
       
      </div>
		
      <hr/>
	
		<!-- -->
      
	  
  </div>
</div>
	</div>
<hr/>
	
	
	
<!-- information -->
<div th:replace="Shared/layout :: section"></div>	
<!-- footer -->
<div th:replace="Shared/layout :: footer"></div>
	
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-1.11.3.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.js"></script>
	
</body>
</html>