<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>GoTrip</title>

<!-- Bootstrap -->

	<!-- logo font --><link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
	<!--  Unknowed Function x3 (.js)
	<script src="//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js"></script>
	This js will cause html problem ( map blinking , html scrolling problem )
	<script src="//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js"></script>
	<script src="//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js"></script>
	-->
	
	<!-- Moving div bootstrap x7 -->
	<link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
	<link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
	<link rel="canonical" href="https://codepen.io/Aniboaz/pen/vKOXPa?depth=everything&amp;limit=all&amp;order=popularity&amp;page=47&amp;q=material+&amp;show_forks=false" />
	<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
	<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Arbutus+Slab"/>
	<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css"/>
	
	<!-- jquery methods -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- bootstrap w3c-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<!-- 可移動div之css -->
	<link rel="stylesheet" href="css/blockCSS.css"/>
	<!--  主要版面css -->
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<!--  google api地圖 -->
	<script src="js/mapFunction.js"></script>

</head>
<body>
	
	<!-- Navbar -->
	<div th:replace="Shared/layout :: nav"></div>
	<!-- 主題圖片 -->
	<div class="jumbotron" style="background-image: url(images/trip.jpeg); background-size: 100% 800px ; width: 100%;height: 400px;margin-bottom: 70px" >
		<div class="container">
			<div id="rectangle" style="background-color: #1B1B1B;opacity: 0.8;border: 0px;margin-top: 220px; margin-left: auto;margin-right: auto; color: #e7e7e7;">
				<h1 class="text-center" style="font-weight:lighter;" >景點查詢</h1>
			  	<p class="text-center" style="font-weight:lighter;">關鍵字搜尋、區域查詢</p>
			</div>
		</div>
	</div>
	<hr/>
	
	<!-- 景點搜尋 -->
	<div class="container" >
  		<div class="row">
    		<div class="col-lg-9 col-md-12">
				<div class="row">
				<form action="javascript:textSearch();">
      				<div class="form-group">
      				<div class="col-xs-4">
        			<input type="text" id="input" class="form-control"/></div>
        			<input type="submit" value="搜尋" class="btn btn-default"/>	
      				</div>
    			</form>
    			
    			<form action="javascript:specialSearch();" >
    				<div class="form-group">
    				<div class="col-xs-4">
    				<select id="kind" onchange="this.form.submit()" class="form-control">
    				<option value="0">請選擇...</option>
    				<option value="1">景點</option>
    				<option value="2">美食</option>
    				<option value="3">夜市</option>
    				<option value="4">購物</option>
    				<option value="5">古蹟</option>
    				<option value="6">公園</option>
    				</select>
    				</div>
    				</div>
    			</form>
    			
    				<button id="positionBtn" onclick="initialLocation()" class="btn btn-primary pull-right" style="margin-left: 10px">定位</button>
    				<button onclick="clearMarker()" class="btn btn-danger pull-right">清除標記</button><br/><br/>	
    			<div id="map">
    				loading map ...
    			</div>
    		</div>     
      	</div>
      	
<!-- google map places api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSWvAaiXtcAtlyhzMODu-VgnV4KhJaRSA&amp;libraries=places&amp;callback=initialLocation" async ="defer"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
 
	<!-- 行程表-->
    <div class="col-lg-3 col-md-6 col-md-offset-3 col-lg-offset-0">
      <div class="well" style="height:auto; min-height: 620px">
        <h2 class="text-center">臺北自由行</h2>
		  <div class="dd" th:action="basketUpdate">
	 		 <ol class="kanban To-do" id="basket" style="width: 100%;position: relative;height: auto;min-height: 500px !important;">	
		  		<h4 style="text-align: center;padding-top:10px">第<span th:text="${session.whichDay}"></span>天</h4> 
		  		<hr/>
		  		<li class="dd-item" th:each="spot : ${spots}" th:object="${spot}">
		  			<h5 class="title dd-handle"><span th:text="*{name}"></span></h5>
		  			<span th:text="*{placeId}" style="display:none"></span>
		  			<span th:text="*{id}" style="display:none"></span>
		  			<span class="glyphicon glyphicon-trash" onclick="removeAttraction(this)" style="color:red"></span>
		  		</li>
			</ol>
			<button type="button" onclick="UpdateBasket()">儲存</button>
			<button type="button" onclick="location='TourInfo'" style="text-decoration:none;" class="pull-right">旅遊提籃</button>
		  </div>
		  <!-- important javascipt move block -->		
		<script src="js/blockFunction.js"></script>      
      </div>	
      <hr/>  
  	</div>
  </div>
</div>
<hr/>

<!-- information -->
<div th:replace="Shared/layout :: section"></div>	
<!-- footer -->
<div th:replace="Shared/layout :: footer"></div>
	
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-1.11.3.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.js"></script>
	
</body>
</html>