<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>GoTrip</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="css/bootstrap.css"/>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
	
	
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	
	<style>
	
	</style>
	
</head>
<body>


	<!-- Navbar -->
	<div th:replace="Shared/layout :: nav"></div>

<form action="tourListCreate" enctype="multipart/form-data"  method="POST">
   <br/>   <br/>   <br/>   <br/>   <br/>   <br/>
   

   <input type="file" name="photoFile" /><br/>
   旅遊名稱:<input type="text" name = "name" /><br/>
   出發日期:<input type="date" name = "beginDate"/><br/>
   
   旅遊天數:<input type="number" name = "days"/><br/>
   
   備註       :<br/>
   <textarea name ="comment" rows="10" cols="30"></textarea>
   
 <input type="submit" class="btn btn-info" value="確定新增"/>

</form>
<!-- -->
</body>
</html>