<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show the spot</title>
</head>
<body>
<table>
  <tr>
  <th>id(編號)</th>
  <th>景點名稱</th>
  <th>景點照片</th>
  <th>景點地址</th>
  <th>景點描述</th>
 </tr>
    <tr th:each="hot : ${hots} " th:object="${hot}">
        <td th:text="*{id}">1</td>
        <td th:text="*{name}">台北101</td>
        <td><img th:src="'files/'+*{photo}" width="100px"/></td>
        <td th:text="*{address}">信義區</td>
        <td th:text="*{description}">很高</td>
        <td><a th:href="@{HotUpdate2(id=${hot.id})}">修改</a></td>
    </tr>
</table>


</body>
</html>
