

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update the spot</title>
</head>
<body>
<form th:action="HotUpdate2" th:object="${hot}" enctype="multipart/form-data" method ="post">


   景點名稱:<input type="text" name="name" th:field="*{name}"/><br/>
 <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
   地址:<input type="text" name="address" th:field="*{address}"/><br/>
 <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
   景點描述:<input type="text" name="description" th:field="*{description}"/><br/>
 <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
  圖片:<label th:text="*{photo}">photo</label><br/>
 <input type="hidden" name="photo" th:field="*{photo}"/><br/>
 <input type="file" name="photoFile"/><br/>
 
 <input type="hidden" name ="id" th:field="*{id}"/>
 <input type="submit" value="Submit"/>

</form>
</body>
</html>





